<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>623281193222-3jdtldrgmmoqo8p7c3gn9a8obv8dr6t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623281193222-3jdtldrgmmoqo8p7c3gn9a8obv8dr6t1</string>
	<key>API_KEY</key>
	<string>AIzaSyAuLDAwWEO4r0CpB9IXcRT75d9V9OEN2ns</string>
	<key>GCM_SENDER_ID</key>
	<string>623281193222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreistoc.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-70f0d</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-70f0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:623281193222:ios:e5b600394c8b7648</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-70f0d.firebaseio.com</string>
</dict>
</plist>